<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<h1>Quiénes somos?</h1>
<p>
    En <b>Italiana Vestidor de Tendencias</b> podes encontrar gran variedad de prendas,
    calzados y fragancias urbanas y de vestir para una gran variedad de edades y estilos,
    con diversidad de diseños de excelente calidad al mejor precio y atención personalizada.
</p>

<h1>Como ubicarnos?</h1>
<div id="map"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.1322017695456!2d-60.50323668519954!3d-33.15815598995562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b70b920b1f51ef%3A0x71ad68c87e792d89!2sItaliana%20-%20Vestidor%20de%20Tendencias!5e0!3m2!1ses!2sar!4v1657837099523!5m2!1ses!2sar" 
        width="600" 
        height="400" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
<h3 style="margin-top: 20px;font-style: italic;font-size: 20px;">Te esperamos!</h3>