.space{
    height: 50px;
    background-color: white;
}

.box{
    height: 50px;
    background-color: darkgrey;
    text-align: left;
}

.box-button{
    top: 50%;
    -ms-transform: translateY(60%);
    transform: translateY(60%);
}

.button{
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 15px;
}

.details{
    text-align: center;
}

.center{
    margin-left: auto;              /*los dos margin son para centrar la tabla*/
    margin-right: auto;
    text-align: left;               /*los titulos se tiran a la izquierda*/
    border-collapse: separate;      /*los dos border son para crear espacio entre filas y columnas*/
    border-spacing: 20px 5px;
}

tr{
    border-bottom: 1px solid black;
}
