
<mat-toolbar>
    <span>Alta, baja y modificaciones de productos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon" (click)="goTo('interface')" aria-label="Example icon-button with home icon">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group animationDuration="0ms">     <!-- puedo usar md-tab tmb pero tengo que descargarlo con npm-->
    
    <mat-tab></mat-tab>

    <mat-tab [disabled]="bit_temp == true" label="Añadir Producto">

        <mat-tab-group [selectedIndex]="0" animationDuration="0ms">
            
            <mat-tab></mat-tab>
            
            <mat-tab label="Indumentaria">
                
                <div class="space"></div>

                <div class="details">
                    <h3> Rellene cada campo y haga click en el botón "Guardar". Asegúrese de completar cada campo de forma válida.</h3>
                </div>

                <form class="form" [formGroup]="dform" ngNativeValidate>
                    
                    <fieldset class="fieldset">
                    <mat-form-field color="warn" appearance="fill">
                        <mat-label>Subcategoria</mat-label>
                        <mat-select name="prenda" #p (valueChange)="size(p.value)" formControlName="subcategoria" required>
                            <mat-option *ngFor="let prenda of prendas" [value]="prenda">
                                {{prenda}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <p></p>
                    
                    <ng-container *ngIf="bit_size==false; then letra else nro"></ng-container>

                        <ng-template #nro>
                            <mat-form-field color="warn" appearance="fill">
                                <mat-label>Talle</mat-label>
                                <input matInput name="tamaño" type="number" formControlName="talle" min="10" max="50" placeholder="Ej. 40" required>
                            </mat-form-field>
                        </ng-template>

                        <ng-template #letra>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Talle</mat-label>
                            <mat-select matNativeControl name="tamaño" formControlName="talle" required>
                                <mat-option *ngFor="let talla of talles" [value]="talla">
                                    {{talla}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </ng-template>

                        <div class="space-mats">
                        <mat-label class="space-radio">Sexo:</mat-label>
                        <mat-radio-group aria-label="Select an option" formControlName="sexo" required>
                            <mat-radio-button name="sexo" value="hombre">Masculino</mat-radio-button>
                            <mat-radio-button name="sexo" value="mujer">Femenino</mat-radio-button>
                        </mat-radio-group>
                        </div>
                        
                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Edad</mat-label>
                            <mat-select name="edad" formControlName="edad" required>
                                <mat-option *ngFor="let edad of edades" [value]="edad">
                                    {{edad}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Marca</mat-label>
                            <input matInput placeholder="Ej. Adidas" name="marca" formControlName="marca" maxlength="20" required>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Modelo</mat-label>
                            <input matInput placeholder="Ej. Terrex" name="modelo" formControlName="modelo" maxlength="20" required>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Codigo</mat-label>
                            <input matInput placeholder="Ej. D123456" name="codigo" formControlName="codigo" maxlength="10" required>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Color</mat-label>
                            <input matInput placeholder="Ej. Rojo" name="color" formControlName="color" pattern="[A-Za-z]+" maxlength="20" required>
                        </mat-form-field>

                        <p></p>
                        <div class="space-mats">
                        <mat-label class="space-radio">Stock:</mat-label>
                        <mat-radio-group aria-label="Select an option" formControlName="stock" required>
                            <mat-radio-button value="true">Si</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                        </div>
                        
                        <p></p>
                        <mat-form-field color="warn" appearance="fill">                            
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" placeholder="Ej. 1000" name="precio" formControlName="precio" min="0" required>
                        </mat-form-field>

                        <div class="space-mats">
                        <label> Imagen: </label> 
                        <input type="file" name="imagen" (change)="encodeAsBase64($event,'dress')" required>
                        </div>

                        <p></p>
                        <button mat-raised-button color="primary" type="submit" (click)="sendDress()" style="margin-right: 5px;">Guardar</button>
                        <button mat-raised-button color="warn" type="reset">Limpiar</button>
                    </fieldset>    
                </form>
            
            </mat-tab>
            <mat-tab label="Fragrancia">
                
                <div class="space"></div>

                    <div class="details">
                        <h3> Rellene cada campo y haga click en el botón "Guardar". Asegúrese de completar cada campo de forma válida.</h3>
                    </div>

                <form [formGroup]="fform" class="form" ngNativeValidate>
                    
                    <fieldset class="fieldset">
                    <mat-form-field color="warn" appearance="fill">
                        <mat-label>Subcategoria</mat-label>
                        <mat-select name="tipo" formControlName="subcategoria" required>
                            <mat-option *ngFor="let perfume of perfumes" [value]="perfume">
                                {{perfume}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">                            
                            <mat-label>Volumen</mat-label>
                            <input matInput type="number" placeholder="Ej. 125" name="volumen" formControlName="volumen" maxlength="4" min="0" required>
                        </mat-form-field>ml

                        <p></p>
                        <mat-form-field color="warn" style="width: 300px;" appearance="fill">
                            <mat-label>Aroma</mat-label>
                            <input matInput name="aroma" #message maxlength="50" placeholder="Ej. Este perfume huele a rosas..." formControlName="aroma" required>
                            <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Pais de origen</mat-label>
                            <input matInput placeholder="Ej. Argentina" name="pais" formControlName="pais" maxlength="30" required>
                        </mat-form-field>

                        <div class="space-mats">
                            <mat-label class="space-radio">Sexo:</mat-label>
                            <mat-radio-group aria-label="Select an option" formControlName="sexo" required>
                                <mat-radio-button name="sexo" value="hombre">Masculino</mat-radio-button>
                                <mat-radio-button name="sexo" value="mujer">Femenino</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Marca</mat-label>
                            <input matInput placeholder="Ej. Kevin" name="marca" formControlName="marca" maxlength="20" required>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Modelo</mat-label>
                            <input matInput placeholder="Ej. Black" name="modelo" formControlName="modelo" maxlength="20" required>
                        </mat-form-field>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">
                            <mat-label>Codigo</mat-label>
                            <input matInput placeholder="Ej. F123" name="codigo" formControlName="codigo" maxlength="10" required>
                        </mat-form-field>

                        <div class="space-mats">
                            <mat-label class="space-radio">Stock:</mat-label>
                            <mat-radio-group aria-label="Select an option" formControlName="stock" required>
                                <mat-radio-button value="true">Si</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <p></p>
                        <mat-form-field color="warn" appearance="fill">                            
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" placeholder="Ej. 1000" name="precio" formControlName="precio" min="0" required>
                        </mat-form-field>
                        
                        <div class="space-mats">
                            <label> Imagen: </label> 
                            <input type="file" name="imagen" (change)="encodeAsBase64($event,'fragrance')" required>
                        </div>

                        <p></p>
                        <button mat-raised-button color="primary" type="submit" (click)="sendFragrance()" style="margin-right: 5px;">Guardar</button>
                        <button mat-raised-button color="warn" type="reset">Limpiar</button>
                    </fieldset>
                </form>
            
            </mat-tab>
        </mat-tab-group>

    </mat-tab>
    
    <mat-tab label="Mostrar producto">
        
            <mat-tab-group [selectedIndex]="0" (selectedTabChange)="call($event)" animationDuration="0ms">
                
                <mat-tab></mat-tab>

                <mat-tab [disabled]="bit_temp == true" label="Indumentaria">

                    <div class="space"></div>
    
                    <ng-container *ngIf="iModify; then mod_dress else see_dress"></ng-container>

                    <ng-template #see_dress>
                    
                        <table mat-table [dataSource]="dresses$" class="mat-elevation-z8">

                            <ng-container matColumnDef="ID">
                              <th mat-header-cell *matHeaderCellDef> ID </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                        
                            
                            <ng-container matColumnDef="SUBCATEGORIA">
                              <th mat-header-cell *matHeaderCellDef> SUBCATEGORIA </th>
                              <td mat-cell *matCellDef="let element"> {{element.subcategory}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="SEXO">
                              <th mat-header-cell *matHeaderCellDef> SEXO </th>
                              <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="EDAD">
                              <th mat-header-cell *matHeaderCellDef> EDAD </th>
                              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="MARCA">
                                <th mat-header-cell *matHeaderCellDef> MARCA </th>
                                <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                            </ng-container>

                            <ng-container matColumnDef="MODELO">
                                <th mat-header-cell *matHeaderCellDef> MODELO </th>
                                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CODIGO">
                                <th mat-header-cell *matHeaderCellDef> CODIGO </th>
                                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                            </ng-container>

                            <ng-container matColumnDef="TALLE">
                                <th mat-header-cell *matHeaderCellDef> TALLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                            </ng-container>

                            <ng-container matColumnDef="COLOR">
                                <th mat-header-cell *matHeaderCellDef> COLOR </th>
                                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                            </ng-container>

                            <ng-container matColumnDef="STOCK">
                                <th mat-header-cell *matHeaderCellDef> STOCK </th>
                                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PRECIO">
                                <th mat-header-cell *matHeaderCellDef> PRECIO </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="IMAGEN">
                                <th mat-header-cell *matHeaderCellDef> IMAGEN </th>
                                <td mat-cell *matCellDef="let element"> <img class="photo_preview" src="{{element.image}}" alt="imagen prenda"/> </td>
                            </ng-container>
                            
                            <!-- PARA LA CONFIGURACION -->
                            <ng-container matColumnDef="Configuracion">
                                <th mat-header-cell *matHeaderCellDef> Configuracion </th>
                                <td *matCellDef="let element"> 
                                    
                                    <button mat-raised-button (click)="configModify(element,'dress')" style="background-color: rgb(255, 166, 0); margin-right: 10px;">
                                        Modificar
                                    </button>
                                    <ng-container *ngIf="element.enabled then enabled else disabled"></ng-container>
                                    <ng-template #enabled>
                                        <button mat-raised-button (click)="enableDisableDress(element)" style="background-color: red;">
                                            Deshabilitar
                                        </button>
                                    </ng-template>
                                    <ng-template #disabled>
                                        <button mat-raised-button (click)="enableDisableDress(element)" style="background-color: green;">
                                            Habilitar
                                        </button>
                                    </ng-template>

                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDress"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDress;"></tr>
                            
                        </table>
                    
                    </ng-template>

                    <ng-template #mod_dress>

                        <div class="space"></div>

                        <div class="details">
                            <h3> Modifique los datos en los campos y pulse 'Guardar cambios'</h3>
                        </div>

                        <form [formGroup]="dform" class="form" ngNativeValidate>  <!--method="GET">     get envia la info en la URL y post en el body del http (revisar cual usar) -->
                            
                            <mat-form-field color="warn" appearance="fill">
                                <mat-label>Subcategoria</mat-label>
                                <mat-select name="prenda" #p (valueChange)="size(p.value)" formControlName="subcategoria" required>
                                    <mat-option *ngFor="let prenda of prendas" [value]="prenda">
                                        {{prenda}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
        
                            <p></p>
                            
                            <ng-container *ngIf="bit_size==false; then letra else nro"></ng-container>
        
                                <ng-template #nro>
                                    <mat-form-field color="warn" appearance="fill">
                                        <mat-label>Talle</mat-label>
                                        <input name="tamaño" matInput type="number" formControlName="talle" min="10" max="50" placeholder="Ej. 40" required>
                                    </mat-form-field>
                                </ng-template>
        
                                <ng-template #letra>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Talle</mat-label>
                                    <mat-select name="tamaño" matNativeControl formControlName="talle" required>
                                        <mat-option *ngFor="let talla of talles" [value]="talla">
                                            {{talla}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </ng-template>
        
                                <div class="space-mats">
                                <mat-label class="space-radio">Sexo:</mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="sexo" required>
                                    <mat-radio-button name="sexo" value="hombre">Masculino</mat-radio-button>
                                    <mat-radio-button name="sexo" value="mujer">Femenino</mat-radio-button>
                                </mat-radio-group>
                                </div>
                                
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Edad</mat-label>
                                    <mat-select name="edad" formControlName="edad" required>
                                        <mat-option *ngFor="let edad of edades" [value]="edad">
                                            {{edad}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Marca</mat-label>
                                    <input matInput placeholder="Ej. Adidas" name="marca" formControlName="marca" maxlength="20" required>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Modelo</mat-label>
                                    <input matInput placeholder="Ej. Terrex" name="modelo" formControlName="modelo" maxlength="20" required>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Codigo</mat-label>
                                    <input matInput [readonly]="true" placeholder="Ej. D123456" name="codigo" formControlName="codigo" maxlength="10" required>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Color</mat-label>
                                    <input matInput placeholder="Ej. Rojo" name="color" formControlName="color" pattern="[A-Za-z]+" maxlength="20" required>
                                </mat-form-field>
        
                                <p></p>
                                <div class="space-mats">
                                <mat-label class="space-radio">Stock:</mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="stock" required>
                                    <mat-radio-button value="true">Si</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </mat-radio-group>
                                </div>
                                
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">                            
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="number" placeholder="Ej. 1000" name="precio" formControlName="precio" min="0" required>
                                </mat-form-field>
        
                                <div class="space-mats">
                                    <label> Imagen: </label> 
                                    <input type="file" name="imagen" (change)="encodeAsBase64($event,'dress')" required>
                                    <h4><i>Si no selecciona una imagen nueva, por defecto quedará la imagen ya perteneciente al producto.</i></h4>
                                </div>
                                
                                <p></p>
                                <button mat-raised-button color="accent" type="submit" (click)="updateDress(modifyingDress!.id)">Guardar cambios</button>
                                
                        </form>

                    </ng-template>

                </mat-tab>
                
                <mat-tab [disabled]="bit_temp == true" label="Fragrancia">
                    
                    <div class="space"></div>
                    
                    <ng-container *ngIf="iModify; then mod_frag else see_frag"></ng-container>

                    <ng-template #see_frag>
                        
                        <table mat-table [dataSource]="fragrances$" class="mat-elevation-z8">

                            <ng-container matColumnDef="ID">
                              <th mat-header-cell *matHeaderCellDef> ID </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                        
                            
                            <ng-container matColumnDef="SUBCATEGORIA">
                              <th mat-header-cell *matHeaderCellDef> SUBCATEGORIA </th>
                              <td mat-cell *matCellDef="let element"> {{element.subcategory}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="SEXO">
                              <th mat-header-cell *matHeaderCellDef> SEXO </th>
                              <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="EDAD">
                              <th mat-header-cell *matHeaderCellDef> EDAD </th>
                              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="MARCA">
                                <th mat-header-cell *matHeaderCellDef> MARCA </th>
                                <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                            </ng-container>

                            <ng-container matColumnDef="MODELO">
                                <th mat-header-cell *matHeaderCellDef> MODELO </th>
                                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CODIGO">
                                <th mat-header-cell *matHeaderCellDef> CODIGO </th>
                                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                            </ng-container>

                            <ng-container matColumnDef="VOLUMEN">
                                <th mat-header-cell *matHeaderCellDef> VOLUMEN </th>
                                <td mat-cell *matCellDef="let element"> {{element.volumen}} </td>
                            </ng-container>

                            <ng-container matColumnDef="AROMA">
                                <th mat-header-cell *matHeaderCellDef> AROMA </th>
                                <td mat-cell *matCellDef="let element"> {{element.aroma}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PAIS DE ORIGEN">
                                <th mat-header-cell *matHeaderCellDef> PAIS DE ORIGEN </th>
                                <td mat-cell *matCellDef="let element"> {{element.originCountry}} </td>
                            </ng-container>

                            <ng-container matColumnDef="COLOR">
                                <th mat-header-cell *matHeaderCellDef> COLOR </th>
                                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                            </ng-container>

                            <ng-container matColumnDef="STOCK">
                                <th mat-header-cell *matHeaderCellDef> STOCK </th>
                                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PRECIO">
                                <th mat-header-cell *matHeaderCellDef> PRECIO </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="IMAGEN">
                                <th mat-header-cell *matHeaderCellDef> IMAGEN </th>
                                <td mat-cell *matCellDef="let element"> <img class="photo_preview" src="{{element.image}}" alt="imagen prenda"/> </td>
                            </ng-container>
                            
                            <!-- PARA LA CONFIGURACION -->
                            <ng-container matColumnDef="Configuracion">
                                <th mat-header-cell *matHeaderCellDef> Configuracion </th>
                                <td *matCellDef="let element"> 
                                    
                                    <button mat-raised-button (click)="configModify(element,'fragrance')" style="background-color: rgb(255, 166, 0); margin-right: 10px;">
                                        Modificar
                                    </button>
                                    <ng-container *ngIf="element.enabled then enabled else disabled"></ng-container>
                                    <ng-template #enabled>
                                        <button mat-raised-button (click)="enableDisableFragrance(element)" style="background-color: red;">
                                            Deshabilitar
                                        </button>
                                    </ng-template>
                                    <ng-template #disabled>
                                        <button mat-raised-button (click)="enableDisableFragrance(element)" style="background-color: green;">
                                            Habilitar
                                        </button>
                                    </ng-template>

                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsFragrance"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsFragrance;"></tr>
                            
                        </table>

                    </ng-template>

                    <ng-template #mod_frag>

                    <div class="space"></div>

                    <div class="details">
                        <h3> Modifique los datos en los campos y pulse 'Guardar cambios'</h3>
                    </div>

                        <form [formGroup]="fform" class="form" ngNativeValidate>
                            
                            <mat-form-field color="warn" appearance="fill">
                                <mat-label>Subcategoria</mat-label>
                                <mat-select name="tipo" formControlName="subcategoria" required>
                                    <mat-option *ngFor="let perfume of perfumes" [value]="perfume">
                                        {{perfume}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">                            
                                    <mat-label>Volumen</mat-label>
                                    <input matInput type="number" placeholder="Ej. 125" name="volumen" formControlName="volumen" maxlength="4" min="0" required>
                                </mat-form-field>ml
        
                                <p></p>
                                <mat-form-field color="warn" style="width: 300px;" appearance="fill">
                                    <mat-label>Aroma</mat-label>
                                    <input matInput name="aroma" #message maxlength="50" placeholder="Ej. Este perfume huele a rosas..." formControlName="aroma" required>
                                    <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Pais de origen</mat-label>
                                    <input matInput placeholder="Ej. Argentina" name="pais" formControlName="pais" maxlength="30" required>
                                </mat-form-field>
        
                                <div class="space-mats">
                                    <mat-label class="space-radio">Sexo:</mat-label>
                                    <mat-radio-group aria-label="Select an option" formControlName="sexo" required>
                                        <mat-radio-button name="sexo" value="hombre">Masculino</mat-radio-button>
                                        <mat-radio-button name="sexo" value="mujer">Femenino</mat-radio-button>
                                    </mat-radio-group>
                                </div>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Marca</mat-label>
                                    <input matInput placeholder="Ej. Kevin" name="marca" formControlName="marca" maxlength="20" required>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Modelo</mat-label>
                                    <input matInput placeholder="Ej. Black" name="modelo" formControlName="modelo" maxlength="20" required>
                                </mat-form-field>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">
                                    <mat-label>Codigo</mat-label>
                                    <input matInput [readonly]="true" placeholder="Ej. F123" name="codigo" formControlName="codigo" maxlength="10" required>
                                </mat-form-field>
        
                                <div class="space-mats">
                                    <mat-label class="space-radio">Stock:</mat-label>
                                    <mat-radio-group aria-label="Select an option" formControlName="stock" required>
                                        <mat-radio-button value="true">Si</mat-radio-button>
                                        <mat-radio-button value="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
        
                                <p></p>
                                <mat-form-field color="warn" appearance="fill">                            
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="number" placeholder="Ej. 1000" name="precio" formControlName="precio" min="0" required>
                                </mat-form-field>
                                
                                <div class="space-mats">
                                    <label> Imagen: </label> 
                                    <input type="file" name="imagen" (change)="encodeAsBase64($event,'fragrance')" required>
                                    <h4><i>Si no selecciona una imagen nueva, por defecto quedará la imagen ya perteneciente al producto.</i></h4>
                                </div>
        
                                <p></p>
                                <button mat-raised-button color="accent" type="submit" (click)="updateFragrance(modifyingFragrance!.id)">Guardar cambios</button>
                            
                        </form>

                    </ng-template>

                </mat-tab>
            </mat-tab-group>

    </mat-tab>

</mat-tab-group>