
<div class="space"></div>

<div class="box">
    <div class="box-button">
        <a (click)="goTo('interface')" class="button"> Ir a pagina principal </a>
        <a (click)="group1()" class="button"> Añadir producto </a>
        <a (click)="group2()" class="button"> Mostrar productos </a>
    </div>
    
</div>

<div class="space"></div>

<ng-container *ngIf="bit==null then nothing"></ng-container>
<ng-container *ngIf="bit==false then block1"></ng-container>   <!-- me dirijo a la parte de añadir producto -->
<ng-container *ngIf="bit==true then block2"></ng-container>   <!-- me dirijo a la parte de llamar a los productos -->

<ng-template #nothing></ng-template>

<ng-template #block1>
    
    <div class="details">
        <h2> Seleccione la categoria del producto a añadir </h2>
    </div>

    <!-- Al seleccionar alguno de los dos, debemos deshabilitarlo, y si elegimos el otro, lo volvemos a activar, y asi-->
    <div style="text-align: center;">
        <button (click)="addDress()" [disabled]="addbit==false" style="margin-right: 10px;"> Indumentaria </button>
        <button (click)="addFragrance()" [disabled]="addbit==true"> Fragrancia </button>
    </div>

    <ng-container *ngIf="addbit==null then nothing2"></ng-container>
    <ng-container *ngIf="addbit==false then add_dress"></ng-container>
    <ng-container *ngIf="addbit==true then add_frag"></ng-container>

    <ng-template #nothing2></ng-template>

    <ng-template #add_dress>
        <!-- creo el form para dress-->
        <form [formGroup]="dform" ngNativeValidate>  <!--method="GET">     get envia la info en la URL y post en el body del http (revisar cual usar) -->
            <fieldset>
                <legend> Agregue los datos en los campos y pulse 'Guardar' </legend>
                <p>
                    <label for="sub"> Subcategoria: </label>
                    <select name="prenda" #p (change)="size(p.value)" formControlName="subcategoria" id="sub" required >
                        <option *ngFor="let prenda of prendas" [value]="prenda"> {{prenda}} </option>
                    </select>
                </p>
                
                <ng-container *ngIf="bit_size==false then letra"></ng-container>
                <ng-container *ngIf="bit_size==true then nro"></ng-container>

                <ng-template #nro>
                    <label for="size"> Talle: </label> 
                    <input type="number" name="talle" formControlName="talle" id="size" min="10" max="50" required>
                </ng-template>

                <ng-template #letra>
                    <label for="size"> Talle: </label> 
                    <select name="prenda" formControlName="talle" id="sub" required>
                        <option value="xs" selected> XS </option>
                        <option value="s"> S </option>
                        <option value="m"> M </option>
                        <option value="l"> L </option>
                        <option value="xl"> XL </option>
                        <option value="xxl"> XXL </option>
                        <option value="xxxl"> XXXL </option>
                        <option value="xxxxl"> XXXXL </option>
                    </select>
                </ng-template>

                <p> <label for="sexo"> Sexo: </label>
                    <input type="radio" name="sexo" formControlName="sexo" value="hombre" id="sexo" required> Masculino 
                    <input type="radio" name="sexo" formControlName="sexo" value="mujer" id="sexo"> Femenino 
                </p>
                <p> <label for="edad"> Edad: </label>
                    <select name="edad" formControlName="edad" id="edad" required>
                        <option value="niño"> Niños </option>
                        <option value="joven"> Jovenes </option>
                        <option value="adulto"> Adultos </option>
                        <option value="anciano"> Ancianos </option>
                    </select>
                </p>
                <p> <label for="brand"> Marca: </label>
                    <input type="text" name="marca" formControlName="marca" id="brand" maxlength="20" required> </p>
                <p> <label for="model"> Modelo: </label>
                    <input type="text" name="modelo" formControlName="modelo" id="model" maxlength="20" required> </p>
                <p> <label for="code"> Codigo: </label> 
                    <input type="text" name="codigo" formControlName="codigo" id="code" maxlength="7" required> </p>
                <p> <label for="color"> Color: </label> 
                    <input type="text" name="color" formControlName="color" id="color" maxlength="20" required> </p>
                <p> <label for="stock"> Stock: </label> 
                    <input type="radio" name="stock" formControlName="stock" value="true" id="stock" required> Si 
                    <input type="radio" name="stock" formControlName="stock" value="false" id="stock"> No </p>
                <p> <label for="price"> Precio: $</label> 
                    <input style="width: 100px;" type="number" name="precio" formControlName="precio" id="price"  required> </p>
                <p> <label for="image"> Imagen: </label> 
                    <input type="file" name="imagen" (change)="encodeAsBase64($event)" id="image" required></p>
                <p> <input (click)="sendDress()" type="submit" value="Guardar" style="margin-right: 5px;"> <input type="reset" value="Limpiar"> </p>
            </fieldset>
        </form>
    </ng-template>

    <ng-template #add_frag>
        <!-- creo el form para fragrance -->
        <form [formGroup]="fform" ngNativeValidate>
            <fieldset>
                <legend> Agregue los datos en los campos y pulse 'Guardar' </legend>
                <p>
                    <label for="sub"> Subcategoria: </label>
                    <select name="tipo" formControlName="subcategoria" id="sub" required>
                        <option value="Eau de Toilette"> Eau de Toilette </option>
                        <option value="Colonias"> Colonias </option>
                        <option value="Infantiles"> Infantiles </option>
                    </select>
                </p>
                <p> <label for="volume"> Volumen: </label>
                    <input style="width: 60px;" type="number" name="volumen" id="volume" maxlength="4" formControlName="volumen" required>ml </p>
                <p> <label for="smell"> Aroma: </label>
                    <input type="text" name="aroma" formControlName="aroma" id="smell" maxlength="30" placeholder="Breve descripcion" required> </p>
                <p> <label for="country"> Pais de origen: </label> 
                    <input type="text" name="pais" formControlName="pais" id="volume" maxlength="30" required> </p>
                <p> <label for="sexo"> Sexo: </label> 
                    <input type="radio" name="sexo" formControlName="sexo" value="hombre" id="sexo" required> Masculino 
                    <input type="radio" name="sexo" formControlName="sexo" value="mujer" id="sexo" > Femenino
                </p>
                <p> <label for="brand"> Marca: </label> 
                    <input type="text" name="marca" formControlName="marca" id="brand" maxlength="20" required> </p>
                <p> <label for="model"> Modelo: </label> 
                    <input type="text" name="modelo" formControlName="modelo" id="model" maxlength="20" required> </p>
                <p> <label for="code"> Codigo: </label> 
                    <input type="text" name="codigo" formControlName="codigo" id="code" maxlength="4" required> </p>
                <p> <label for="stock"> Stock:</label> 
                        <input type="radio" name="stock" formControlName="stock" value="true" id="stock" required> Si 
                        <input type="radio" name="stock" formControlName="stock" value="false" id="stock"> No
                    </p>
                <p> <label for="price"> Precio: $</label> 
                    <input style="width: 100px;" type="number" name="precio" formControlName="precio" id="price" required> </p>
                <p> <label for="image"> Imagen: </label>
                    <input type="file" name="imagen" id="image" (change)="encodeAsBase64($event)" required></p>
                <p> <input (click)="sendFragrance()" type="submit" value="Guardar" style="margin-right: 5px;"> <input type="reset" value="Limpiar"> </p>
            </fieldset>
        </form>
    </ng-template>

</ng-template>


<ng-template #block2>
    <ng-container *ngIf="iModify; then modify else seeDetails"></ng-container>

    <ng-template #modify>
        <ng-container *ngIf="modifyingCategory == 'dress';then modify_dress else modify_fragrance"></ng-container>
    
        <ng-template #modify_dress>
            <form [formGroup]="dform" ngNativeValidate>  <!--method="GET">     get envia la info en la URL y post en el body del http (revisar cual usar) -->
                <fieldset>
                    <legend> Modifique los datos en los campos y pulse 'Guardar cambios' </legend>
                    <p>
                        <label for="sub"> Subcategoria: </label>
                        <select name="prenda" #p (change)="size(p.value)" formControlName="subcategoria" id="sub" required >
                            <option *ngFor="let prenda of prendas" [value]="prenda"> {{prenda}} </option>
                        </select>
                    </p>
                    
                    <ng-container *ngIf="bit_size==false then letra"></ng-container>
                    <ng-container *ngIf="bit_size==true then nro"></ng-container>
    
                    <ng-template #nro>
                        <label for="size"> Talle: </label> 
                        <input type="number" name="talle" formControlName="talle" id="size" min="10" max="50" required>
                    </ng-template>
    
                    <ng-template #letra>
                        <label for="size"> Talle: </label> 
                        <select name="prenda" formControlName="talle" id="sub" required>
                            <option value="XS"> XS </option>
                            <option value="S"> S </option>
                            <option value="M"> M </option>
                            <option value="L"> L </option>
                            <option value="XL"> XL </option>
                            <option value="XXL"> XXL </option>
                            <option value="XXXL"> XXXL </option>
                            <option value="XXXXL"> XXXXL </option>
                        </select>
                    </ng-template>
    
                    <p> <label for="sexo"> Sexo: </label>
                        <input type="radio" name="sexo" formControlName="sexo" value="hombre" id="sexo" required> Masculino 
                        <input type="radio" name="sexo" formControlName="sexo" value="mujer" id="sexo"> Femenino 
                    </p>
                    <p> <label for="edad"> Edad: </label>
                        <select name="edad" formControlName="edad" id="edad" required>
                            <option value="niños"> niños </option>
                            <option value="jovenes"> jovenes </option>
                            <option value="adultos"> adultos </option>
                            <option value="ancianos"> ancianos </option>
                        </select>
                    </p>
                    <p> <label for="brand"> Marca: </label>
                        <input type="text" name="marca" formControlName="marca" id="brand" maxlength="20" required> </p>
                    <p> <label for="model"> Modelo: </label>
                        <input type="text" name="modelo" formControlName="modelo" id="model" maxlength="20" required> </p>
                    <p> <label for="code"> Codigo: </label> 
                        <input [readonly]="true" type="text" name="codigo" formControlName="codigo" id="code" maxlength="7" required> </p>
                    <p> <label for="color"> Color: </label> 
                        <input type="text" name="color" formControlName="color" id="color" maxlength="20" required> </p>
                    <p> <label for="stock"> Stock: </label> 
                        <input type="radio" name="stock" formControlName="stock" value="true" id="stock" required> Si 
                        <input type="radio" name="stock" formControlName="stock" value="false" id="stock"> No </p>
                    <p> <label for="price"> Precio: $</label> 
                        <input style="width: 100px;" type="number" name="precio" formControlName="precio" id="price"  required> </p>
                    <p> <label for="image"> Imagen: </label> 
                        <input type="file" name="imagen" (change)="encodeAsBase64($event)" id="image" required></p>
                    <p> <input (click)="updateDress(modifyingDress!.id)" type="submit" value="Guardar cambios" style="margin-right: 5px;"> <input type="reset" value="Limpiar"> </p>
                </fieldset>
            </form>
        </ng-template>
        
        <ng-template #modify_fragrance>
            <form [formGroup]="fform" ngNativeValidate>
                <fieldset>
                    <legend> Modifique los datos en los campos y pulse 'Guardar cambios' </legend>
                    <p>
                        <label for="sub"> Subcategoria: </label>
                        <select name="tipo" formControlName="subcategoria" id="sub" required>
                            <option value="eau de toilette" > eau de toilette </option>
                            <option value="colonias"> colonias </option>
                            <option value="infantiles"> infantiles </option>
                        </select>
                    </p>
                    <p> <label for="volume"> Volumen: </label>
                        <input style="width: 60px;" type="number" name="volumen" id="volume" maxlength="4" formControlName="volumen" required>ml </p>
                    <p> <label for="smell"> Aroma: </label>
                        <input type="text" [value]="modifyingFragrance!.aroma" name="aroma" formControlName="aroma" id="smell" maxlength="30" placeholder="Breve descripcion" required> </p>
                    <p> <label for="country"> Pais de origen: </label> 
                        <input type="text" name="pais" formControlName="pais" id="volume" maxlength="30" required> </p>
                    <p> <label for="sexo"> Sexo: </label> 
                        <input type="radio" name="sexo" formControlName="sexo" value="hombre" id="sexo" required> Masculino 
                        <input type="radio" name="sexo" formControlName="sexo" value="mujer" id="sexo" > Femenino
                    </p>
                    <p> <label for="brand"> Marca: </label> 
                        <input type="text" name="marca" formControlName="marca" id="brand" maxlength="20" required> </p>
                    <p> <label for="model"> Modelo: </label> 
                        <input type="text"  name="modelo" formControlName="modelo" id="model" maxlength="20" required> </p>
                    <p> <label for="code"> Codigo: </label> 
                        <input [readonly]="true" type="text" name="codigo" formControlName="codigo" id="code" maxlength="7" required> </p>
                    <p> <label for="stock"> Stock: </label> 
                        <input type="radio" name="stock" formControlName="stock" value="true" id="stock" required> Si 
                        <input type="radio" name="stock" formControlName="stock" value="false" id="stock"> No
                    </p>
                    <p> <label for="price"> Precio: $</label> 
                        <input style="width: 100px;"  type="number" name="precio" formControlName="precio" id="price" required> </p>
                    <p> <label for="image"> Imagen: </label>
                        <input type="file" name="imagen" id="image" (change)="encodeAsBase64($event)" required></p>
                    <p> <input (click)="updateFragrance(modifyingFragrance!.id)" type="submit" style="margin-left: 5px;margin-right: 5px;" value="Guardar cambios"/> <input type="reset" value="Limpiar"> </p>                    
                </fieldset>
            </form>
        </ng-template>

    </ng-template>

    <ng-template #seeDetails>
        <div class="details">
            <h2> Detalles de los productos </h2>
        </div>
        <div style="text-align: center;">
            <p> Seleccione la categoria para visualizar sus productos </p>
            <button (click)="callDress()" [disabled]="callbit==false" style="margin-right: 10px;"> Indumentaria </button>
            <button (click)="callFragrance()" [disabled]="callbit==true"> Fragrancia </button>
        </div>

        <ng-container *ngIf="callbit==null then nothing3"></ng-container>
        <ng-container *ngIf="callbit==false then call_dress"></ng-container>
        <ng-container *ngIf="callbit==true then call_frag"></ng-container>

        <ng-template #nothing3></ng-template>

        <ng-template #call_dress>
            <table class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>SEXO</th>
                        <th>EDAD</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>CODIGO UNICO</th>
                        <th>TALLE</th>
                        <th>COLOR</th>
                        <th>STOCK</th>
                        <th>PRECIO</th>
                        <th>IMAGEN</th>
                        <th>Opciones de configuración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dresses$ | async">
                        <td>{{item.id}}</td>
                        <td>{{item.sex}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.color}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <img class="photo_preview" src="{{item.image}}" alt="imagen prenda"/>
                        </td>
                        <td>
                            <button (click)="configModify(item,'dress')" style="background-color: yellow; margin-right: 10px;">
                                Modificar
                            </button>
                            <ng-container *ngIf="item.enabled then enabled else disabled"></ng-container>
                            <ng-template #enabled>
                                <button (click)="enableDisableDress(item)" style="background-color: red;">
                                    Deshabilitar
                                </button>
                            </ng-template>
                            <ng-template #disabled>
                                <button (click)="enableDisableDress(item)" style="background-color: green;">
                                    Habilitar
                                </button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template #call_frag>
            <table class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>VOLUMEN</th>
                        <th>AROMA</th>
                        <th>PAIS DE ORIGEN</th>
                        <th>SEXO</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>CODIGO</th>
                        <th>STOCK</th>
                        <th>PRECIO</th>
                        <th>IMAGEN</th>
                        <th>Opciones de configuración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of fragrances$ | async">
                        <td>{{item.id}}</td>
                        <td>{{item.volumen}}</td>
                        <td>{{item.aroma}}</td>
                        <td>{{item.originCountry}}</td>
                        <td>{{item.sex}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <img class="photo_preview" src="{{item.image}}" alt="imagen prenda"/>
                        </td>
                        <td>
                            <button type="button" (click)="configModify(item,'fragrance')" style="background-color: yellow; margin-right: 10px;">
                                Modificar
                            </button>
                            <ng-container *ngIf="item.enabled then enabled else disabled"></ng-container>
                            <ng-template #enabled>
                                <button (click)="enableDisableFragrance(item)" style="background-color: red;">
                                    Deshabilitar
                                </button>
                            </ng-template>
                            <ng-template #disabled>
                                <button (click)="enableDisableFragrance(item)" style="background-color: green;">
                                    Habilitar
                                </button>
                            </ng-template></td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ng-template>
</ng-template>