<ng-container *ngIf="positive; then register else login"></ng-container>

<ng-template #register>     <!-- si positive es true -->

  <div *ngIf="reg">
    <h1 mat-dialog-title class="yes">Te registraste exitosamente!</h1>
    <div mat-dialog-content> Cierre el cuadro de dialogo y proceda a loguearse. </div>
    <div mat-dialog-actions>
        <button mat-button routerLink="/user/2" mat-dialog-close> Cerrar </button>
    </div>
  </div>
  
  <div *ngIf="!reg">
    <h1 mat-dialog-title class="no" >Registro fallido</h1>
    <div mat-dialog-content> El email y/o nombre de usuario ya se encuentra en uso, pruebe con otro. </div>
    <div mat-dialog-actions>
      <button mat-button routerLink="/user/1" mat-dialog-close> Intentar nuevamente </button>
      <button mat-button routerLink="/interface" mat-dialog-close> Ir a la página principal </button>
    </div>
  </div>

</ng-template>

<ng-template #login>        <!-- si positive es false -->

  <div *ngIf="log">
    <h1 mat-dialog-title class="yes">Ingreso exitoso!</h1>
    <div mat-dialog-content> Cierre el cuadro de dialogo para volver a la pantalla principal. </div>
    <div mat-dialog-actions>
      <button mat-button routerLink="/interface" mat-dialog-close> Cerrar </button>
    </div>
  </div>
  
  <div *ngIf="!log">
    <h1 mat-dialog-title class="no">Ingreso fallido</h1>
    <mat-dialog-content> El nombre de usuario y/o la contraseña son incorrectos. </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button class="login" routerLink="/user/2" mat-dialog-close> Intentar nuevamente </button>
      <button mat-button routerLink="/interface" mat-dialog-close> Ir a la página principal </button>
    </mat-dialog-actions>
  </div>

</ng-template>