<div *ngIf="positive" class="yes">
  <h1 mat-dialog-title>Te logueaste pa</h1>
  <div mat-dialog-actions>
    <a mat-button mat-dialog-close routerLink="/interface">
      presione aquí para volver a la pantalla principal</a>
  </div>
</div>

<div *ngIf="!positive" class="no">
  <h1 mat-dialog-title>No te logueaste una mierda pa</h1>
  <div mat-dialog-actions>
    <p>puede <a routerLink="/user" mat-dialog-close>
      intentar nuevamente</a> o 
    <a routerLink="/interface" mat-dialog-close>
      redirigirse a la pantalla principal</a></p>
  </div>
</div>