<div>
    <div class="subcategorias">
        <!-- ver si las ponemos estáticas acá o las traemos de la DB -->
        <ul>Tipos
            <li (click)="seeSub('eau de toilette')">eau de toilette</li>
            <li (click)="seeSub('colonias')">colonias</li>
            <li (click)="seeSub('infantiles')">infantiles</li>
        </ul>
        <ul>Sexo
            <li (click)="seeSex('hombre')">hombre</li>
            <li (click)="seeSex('mujer')">mujer</li>
        </ul>
        <ul>País de origen
            <li (click)="seeOriginCountry('Argentina')">Argentina</li>
            <li (click)="seeOriginCountry('Polonia')">Polonia</li>
            <li (click)="seeOriginCountry('Chile')">Chile</li>
            <li (click)="seeOriginCountry('Francia')">Francia</li>
        </ul>
    </div>
    <div class="productos">
        <button *ngFor="let item of fragrances$ | async" class="item" (click)="goTo('details',item.code)">
            <!-- <img src="item?.image" alt="product_image" width="200px" height="170px"/> -->
            <p>volumen: {{item?.volumen}}</p>
            <p>tipo: {{item?.subcategory}}</p>
            <p>aroma: {{item?.aroma}}</p>
            <p>país: {{item?.originCountry}}</p>
        </button>
    </div>
</div>