div.subcategorias{
    width: 40%;
    height: 100%;
    border-collapse: collapse;
    float:left;
}
ul{
    color: black;
}
li{
    cursor: pointer;
}
.productos{
    margin-left: 40%;
    width: 60%;
    height: 100%;
    border-collapse: collapse;
    position: relative;
}
.item{
    width: 250px;
    height: 350px;
}