
/*      **  GENERAL  **       */

.text_color{
    color: black;
    font-weight: normal;
}


/*      **  LOGIN  **       */

.outline2 {
    color: #665756;
    width: 300px;
    height: 50px;
    margin-bottom: 40px;
}

.continue{
    cursor: pointer; 
    position: relative;
    border: 1px solid #665756;
    width: 150px;
    margin-top: 20px;
    background-color: #0066ff;
    color: rgb(255, 255, 255);
    right: -70px;
}

.signup{
    cursor: pointer; 
    position: relative;
    border: 1px solid #665756;
    width: 120px;
    margin-top: 20px;
    right: -100px;
    background-color: #0066ff;
    color: rgb(255, 255, 255);
}

.return{
    cursor: pointer; 
    position: relative;
    border: 1px solid #665756;
    width: 80px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
}

/*      **  REGISTRO  **       */

.container .mat-form-field {
    margin-left: 8px;
}

.outline {
    color: #000000;
    width: 236px;
    height: 50px;
}

/*ESTO ES PARA APPAREANCE=FILL*/

.text{
    color: rgb(29, 29, 29);
}

.welcome{
    margin-bottom: 40px;
}

/*PARA COLOR DE OUTLINE INICIAL*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(193, 58, 255) !important;
    opacity: 1 !important;
}

/*PARA COLOR DE OUTLINE CUANDO ME PARO ENCIMA*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(127, 10, 182) !important;
}

/*PARA OUTLINE CUANDO HAY ERROR DE ENTRADA*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red !important;
    opacity: 0.8 !important;
}

.sign{
    cursor: pointer; 
    position: relative;
    border: 1px solid #665756;
    width: 150px;
    margin-top: 20px;
    background-color: #0066ff;
    color: rgb(255, 255, 255);
    right: -40px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.box-color{
    background-color: #fad89a;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #665756;
}