<div>       <!-- pantalla completa -->

    <div style="height: 400px;">       <!-- para la imagen y las caracteristicas -->
        
        <div class="box">       <!-- para la imagen -->
            <img class="box" *ngIf="checkId" src="{{(itemF$ | async)?.image}}" alt="imagen producto"/>
            <img class="box" *ngIf="!checkId" src="{{(itemD$ | async)?.image}}" alt="imagen producto"/>
        </div>

        <div class="box" style="outline:solid 1px;">       <!-- para las caracteristicas -->
            <div *ngIf="checkId == true; then fBlock else dBlock"> </div>
                
                 <ng-template #fBlock>                     <!-- fragrance -->
                    <div class="list">
                        <div *ngIf="isUsrLogged" class="fav">
                            <button (click)="addToFavs('fragrance')" [hidden]="item?.isOnFavs">
                                Añadir a favoritos
                            </button>
                            <button (click)="removeFromFavs('fragrance')" [hidden]="!item?.isOnFavs">
                                Quitar de favoritos
                            </button>
                        </div>
                        <h2> {{(itemF$ | async)?.brand}} </h2>
                        <h3> {{(itemF$ | async)?.model}} </h3>
                        <p style="font-size: 30px;"> ${{(itemF$ | async)?.price}} </p>
                        <div *ngIf="(itemF$ | async)?.stock; then t else f"> </div>
                            <ng-template #t>
                                ¡Hay stock! :)
                            </ng-template>
                            <ng-template #f>
                                No hay stock... :(
                            </ng-template>
                        <p>Volumen de la unidad: <b>{{ (itemF$ | async)?.volumen  }}ml</b> </p>
                        <p>Categoria: {{ (itemF$ | async)?.subcategory  }}</p>
                        <p>Sexo: {{(itemF$ | async)?.sex}} </p>
                        <p>Aroma: {{ (itemF$ | async)?.aroma  }}</p>
                        <p>País: {{ (itemF$ | async)?.originCountry }}</p>
                    </div>
                    
                </ng-template>

                <ng-template #dBlock>                      <!-- dress -->     
                    <div class="list">
                        <div *ngIf="isUsrLogged" class="fav">
                            <button (click)="addToFavs('dress')" [hidden]="item?.isOnFavs">
                                Añadir a favoritos
                            </button>
                            <button (click)="removeFromFavs('dress')" [hidden]="!item?.isOnFavs">
                                Quitar de favoritos
                            </button>
                        </div>
                        <h2> {{(itemD$ | async)?.brand}} </h2>
                        <h3> {{(itemD$ | async)?.model}} </h3>
                        <p style="font-size: 30px;"> ${{(itemD$ | async)?.price}} </p>
                        <div *ngIf="(itemD$ | async)?.stock; then t else f"> </div>
                            <ng-template #t>
                                ¡Hay stock! :)
                            </ng-template>
                            <ng-template #f>
                                No hay stock... :(
                            </ng-template>
                        <p>Categoria: {{ (itemD$ | async)?.subcategory  }}</p>
                        <p>Sexo: {{(itemD$ | async)?.sex}} </p>
                        <p>Edad: {{ (itemD$ | async)?.age}}</p>
                        <div>
                            <form name="size" method="" action="">
                                Talle disponibles: 
                                <select name="size-list">
                                    <option *ngFor="let item of talle$ | async" [disabled]="item.stock == false">
                                        {{item?.size}}
                                    </option>
                                </select>
                            </form>
                        </div>
                        <p>Color: {{ (itemD$ | async)?.color }}</p>      
                    </div>
                </ng-template>

        </div>

    </div>

</div>
