<div style="background-color: #E1E9F3">
  <div class="zona1">
    <img  src="/assets/images/logo.jpeg" 
          alt="logotype" 
          width="auto" height="100%" 
          style="float: left; border-radius: 20px;"/>
    <div *ngIf="usrLogged == null">
      <button mat-flat-button (click)="goTo('user/1')" class="login">
        Crear cuenta
      </button>
    </div>
    <div *ngIf="!logged; then notLoggedBlock else loggedBlock"></div>
    <ng-template #notLoggedBlock>
      <button mat-flat-button (click)="goTo('user/2')" class="login">
        Iniciar sesión
      </button>
    </ng-template>
    <ng-template #loggedBlock>
      <h4 class="welcome">
        HOLA, {{usrLogged?.username?.toUpperCase()}}
      </h4>
      <button class="loggedin" mat-flat-button (click)="quit()" style="background-color: #AB4100;">
        Cerrar sesión
      </button>
      <button class="loggedin" mat-flat-button *ngIf="usrLogged?.rol == 'ADMIN'" (click)="goTo('abm')">
        Adm. de productos
      </button>
      <div *ngIf="usrLogged?.rol == 'USER'">
        <mat-form-field color="warn" class="favs" appearance="fill">
          <mat-label>Favoritos</mat-label>
          <mat-select>
            <mat-option class="favs-option" *ngFor="let dress of dressesFavs$ | async" (click)="goTo('details/dress/' + dress.code)">
              {{dress.brand}} - {{dress.model}}
            </mat-option>
            <mat-option class="favs-option" *ngFor="let fragrance of fragrancesFavs$ | async" (click)="goTo('details/fragrance/' + fragrance.code)">
              {{fragrance.brand}} - {{fragrance.model}}
            </mat-option>
            <mat-option 
              style="background-color: #47342F;color: rgb(167, 167, 167);" 
              *ngIf="(dressesFavs$ | async)?.length == 0 && (fragrancesFavs$ | async)?.length == 0" 
              [disabled]="true">
              vacío
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-template>
  </div>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
  <div class="zona2">
    <div class="category">
      <div class="category-image">
        <img  src="/assets/images/indumentaria.png" 
              alt="indumentaria" 
              class="image"/>
      </div>
      <div class="info">
        <button class="category-button" (click)="goTo('dress')">INDUMENTARIA</button>
      </div>
    </div>
    <div class="category">
      <div class="category-image">
        <img  src="/assets/images/fragancia.png" 
              alt="fragancias" 
              class="image"/>
      </div>
      <div class="info">
        <button class="category-button" (click)="goTo('fragrance')">FRAGANCIAS</button>
      </div>
    </div>
  </div>
  
  <link href="https://use.typekit.net/pbm8lhp.css" rel="stylesheet"/>
  <div class="zona3">
    <div class="box">
      <div class="text">
        <h3 class="headings">La empresa</h3>
        <button mat-button class="additional" (click)="goTo('us')" style="text-decoration: none;">
          Sobre nosotros
        </button>
      </div>
    </div>
    <div class="box">
      <div class="text">
        <h3 class="headings">Ayuda</h3>
        <button mat-button class="additional" (click)="goTo('help/buy')">
          Medios de pago
        </button>
        <button mat-button class="additional" (click)="goTo('help/how')">
          Como operar con la página
        </button>
      </div>  
    </div>
    <div class="box">
      <div class="text2">
        <h3 class="headings">Atencion al cliente</h3>
        <p>Tel. fijo: 341 1234567</p>
        <p>Lunes a Viernes</p>
        <p>De 9:00 hs a 18:00 hs</p>
      </div> 
    </div>
    <div class="box">
      <div style="margin-top: 20px; text-align: center; font-size: medium;">
        <button mat-button href="https://wa.me/+549341123456" class="whatsapp">
          <img  src="/assets/images/wrp.webp" 
                alt="WhatsApp image" 
                width="30%" 
                class="whatsapp"
                href="https://wa.me/+549341123456"/>
                Escribinos!
        </button>
      </div>
    </div>
  </div>
</div>