<body>

  <div style="top: 0; height: 75px; outline: solid 1px; margin: 5px;">
    <img src="/assets/images/logo.jpg" alt="logotype" width="200" height="100%"/>
    <div>
      <button (click)="goTo('user/1')" class="login">Sign up</button>
    </div>
    <div *ngIf="!logged; then notLoggedBlock else loggedBlock"></div>
    <ng-template #notLoggedBlock>
      <button (click)="goTo('user/2')" class="login">Log in</button>
    </ng-template>
    <ng-template #loggedBlock>
      <div class="login">
        <p class="welcome">hola {{usrLogged?.getUsername()}}
        <button (click)="goTo('abm')"> Adm. de productos </button>
      </div>
    </ng-template>
  </div>

  <div style="top:75px; height:350px; outline:solid 1px; margin: 5px;background-color: aqua;">
    <button (click)="goTo('dress')"
            style="width: 30%;height: 100%;margin-left: 15px;">
            indumentaria
    </button>
    <button (click)="goTo('fragrance')" 
            style="width: 30%;height: 100%;margin-left: 15px;">
            fragrancias
    </button>
    
  </div>

  <div class="zona3" style="top:5px; height:200px; outline:solid 1px; margin: 5px;">
    <div class="box">
      <div class="text">
        <h3>La empresa</h3>
        <a (click)="goTo('us')" class="subrayado"> Sobre nosotros</a>
      </div>
    </div>

    <div class="box">
      <div class="text">
        <h3>Ayuda</h3>
        <a (click)="goTo('help')">Medios de pago</a>
      </div>  
    </div>

    <div class="box">
      <div class="text2">
        <h3>Atencion al cliente</h3>
        <p>Tel. fijo: 341 1234567</p>
        <p>Lunes a Viernes</p>
        <p>De 9:00 hs a 18:00 hs</p>
      </div> 
    </div>

    <div class="box">
      <div style="margin-top: 20px; text-align: center; font-size: medium;">
        <a href="https://wa.me/+549341123456" class="subrayado" style="color:black">
          <img  src="/assets/images/warap.png" 
                alt="WhatsApp image" 
                width="30%" 
                class="whatsapp"
                href="https://wa.me/+549341123456"/>
          WhatsApp
        </a>
      </div>
    </div>
  </div>

</body>